@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

*,
* > * {
  font-family: "poppins";
}

[hidden] {
  display: none !important;
}

._spectrum-Textfield_61339._is-valid_61339
  ._spectrum-Textfield-validationIcon_61339 {
  bottom: 10px !important;
}

._spectrum-Textfield_61339._is-invalid_61339
  ._spectrum-Textfield-validationIcon_61339 {
  bottom: 8px !important;
}
